extends ../layout

block page
  .slideshow-landing
    h1.
      Welcome to this interactive introduction to Caravel! We are really proud of your interest
      in our product :)
    h1.
      Any screen in this app is made with HTML and JS. No native UI iOS components at all but WKWebView.
