extends ./layout

block page
  .landing
    h1 Santa Maria
    h2 An interactive demonstration of Caravel

    ul
      li.js-slideshow
        .insight-wrapper
          .slideshow
            .emitter
            .receiver
        h4 Slideshow

      li.js-time-benchmark
        .insight-wrapper
          .time-benchmark-insight
            .bar
            .bar
            .bar
        h4 Time Benchmark

  +presenter('Landing')