extends ./layout

block page
  .landing
    h1 Santa Maria
    h2 An interactive demonstration of Caravel

    ul
      li.js-slideshow
        .insight-wrapper
          .slideshow
            .emitter
            .receiver
        h4 Slideshow

      li.js-duration-benchmark
        .insight-wrapper
          .duration-benchmark
            .bar
            .bar
            .bar
        h4 Duration benchmark

  +presenter('Landing')