extends ./layout

block page
  .responsiveness-benchmark
    .pulser-wrapper
      .pulser

    .settings
      p.label.purple # of events / seconds
      p.input-wrapper
        input.purple.js-event-number(name='number', type='range', min='100', max='20000', value='10')
        label.purple.js-event-number-label(for='number') 100

      p.label.pink Data complexity
      p.input-wrapper
        input.pink.js-event-complexity(name='complexity', type='range', min='1', max='10', value='1')
        label.pink.js-event-complexity-label(for='complexity') 1


  +presenter('ResponsivenessBenchmark')