extends ./layout
include ./_presenter_mixin

block page
  .simple-event
    h1.
      Caravel helps you sending events between your Swift backend and your JS layer in a smooth
      and elegant way.
    h1.
      Press the red dot to send an event to the green one.

    .playground
      .receiver.js-receiver
      .emitter.js-emitter

  +presenter('SimpleEvent')
