extends ./layout

block page
  .two-buses
    h1.
      As well as buses.
    h1.
      Hint: Press both red dots at the same time.

    .playground
      .receivers
        .receiver.js-receiver-1
        .receiver.js-receiver-2

      .emitters
        .emitter.js-emitter-1
        .emitter.js-emitter-2

  +presenter('TwoBuses')

