.duration-benchmark {
  width: 100%;
  height: 100%;
  @include display(flex);
  @include flex-direction(column);

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: 0;
      margin: 0;
    }
  }

  .time-bar {
    width: 100%;
    @include display(flex);
    @include align-items(center);

    p, hr {
      margin: 5px;
    }

    p {
      color: $grey;
      font-size: .8rem;
    }

    hr {
      @include flex(1);
      height: 0;

      border: 1px solid $grey;
      outline: none;
    }
  }

  .chart {
    @include flex(1);
    height: 100%;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(flex-end);

    overflow: hidden;

    .bar {
      @include flex(1);
      min-height: 20px;
      margin: 0 10px;
      @include display(flex);
      @include align-items(flex-end);

      background-color: $blue;

      @include transition(height .5s ease, background-color .5s ease);

      &.medium {
        background-color: $purple;
      }

      &.high {
        background-color: $pink;
      }

      &.extreme {
        background-color: $yellow;
      }

      p {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;

        font: {
          weight: bold;
          size: .5rem;
        }
        color: $white;
        text-align: center;
      }
    }
  }

  .bar-legend {
    width: 100%;

    ul {
      width: 100%;
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);

      li {
        margin: 1rem 1.5rem;

        @include transform(rotate(45deg));
        font: {
          size: .5rem;
        }
        color: $grey;
      }
    }
  }
}