@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "vars";

body {
  margin: 0;

  font-family: -apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
}

*:not(input, textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 30px 30px 60px 30px;
  box-sizing: border-box;

  background-color: $white;

  h1 {
    font: {
      size: 1.2rem;
      weight: normal;
    }
    color: $grey;
  }

  h2 {
    font: {
      size: 1rem;
      weight: normal;
    }
    color: $grey;
  }

  code {
    font-size: 1rem;
  }
}

._playground-wrapper {
  width: 100%;
  height: 100%;
  @include display(flex);
  @include flex-direction(column);
}

.playground {
  @include flex(1);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(space-between);
}

@mixin dot($color, $size) {
  width: $size;
  height: $size;
  margin: $size;

  border-radius: 50%;
  cursor: pointer;

  background-color: $color;
  box-shadow: 0 0 0 0px lighten($color, 20%);

  &.active {
    box-shadow: 0 0 0 $size lighten($color, 20%);
  }
}

@mixin small-dot($color) {
  @include dot($color, $small-dot)
}

@mixin medium-dot($color) {
  @include dot($color, $medium-dot)
}

@mixin fast-dot-transition() {
  @include transition(box-shadow .5s ease);
}

@mixin slow-dot-transition() {
  @include transition(box-shadow 1s ease .2s);
}

.receiver {
  @include fast-dot-transition();
}

.emitter {
  @include slow-dot-transition();
}